<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.winter.app.notice.NoticeDAO">
  
	<select id="getDetail" resultMap="getDetailResult" parameterType="com.winter.app.boards.notice.NoticeDTO">
	
										SELECT *
											FROM NOTICE N
												LEFT OUTER JOIN 
												NOTICEFILES NF
												USING(BOARDNUM)
											WHERE BOARDNUM = #{boardNum}

	</select>
	
	<resultMap type="com.winter.app.boards.notice.NoticeDTO" id="getDetailResult">
    <!-- NoticeDTO의 기본 필드 -->
    <id column="BOARDNUM" property="boardNum"/>
    <result column="BOARDTITLE" property="boardTitle"/>
    <result column="BOARDDATE" property="boardDate"/>
    <result column="BOARDCONTENTS" property="boardContents"/>
    <result column="BOARDHIT" property="boardHit"/>
    <result column="USERNAME" property="userName"/>
    
    <!-- 1:N 관계 (boardFileDTO는 List 타입) -->
    <collection property="boardFileDTO" javaType="java.util.List" ofType="com.winter.app.boards.BoardFileDTO">
        <id column="FILENUM" property="fileNum"/>
        <result column="FILENAME" property="fileName"/>
        <result column="OLDNAME" property="oldName"/>
    </collection>
</resultMap>


	<select id="getList" parameterType="com.winter.app.pages.Pager" resultType="com.winter.app.boards.notice.NoticeDTO">
	
							SELECT * FROM
						(SELECT ROWNUM AS R, M.* FROM
							(
								SELECT *
								FROM NOTICE
								ORDER BY BOARDNUM DESC
							) M
						)
					    WHERE R BETWEEN #{startNum} AND #{endNum}				
	</select>
	
	
	
	 	<select id="getTotalCount" resultType="Long">
 	
 		SELECT COUNT(BOARDNUM)
 		FROM NOTICE
 	
 		</select>
	
	
	
	<insert id="add" parameterType="com.winter.app.boards.notice.NoticeDTO">
		<!-- 메인쿼리 실행 전 (Before) SELECTKEY의 결과물인 Long 타입의 값을 NoticeDTO boardNum에 넣어라 -->
		<selectKey order="BEFORE" keyProperty="boardNum" resultType="Long">
			SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO NOTICE(BOARDNUM,BOARDTITLE,BOARDDATE,BOARDCONTENTS,BOARDHIT) VALUES
		 	<!-- 시퀀스를 실행 하는 것이 아닌 boardNum 값을 가져 옴  -->
		 (#{boardNum},#{boardTitle},SYSDATE,#{boardContents},0)
	</insert>

	<insert id="addFile" parameterType="com.winter.app.boards.BoardFileDTO">
		INSERT INTO NOTICEFILES (FILENUM,FILENAME,OLDNAME,BOARDNUM)
		VALUES(FILES_SEQ.NEXTVAL, #{fileName}, #{oldName},#{boardNum})
	</insert>

	

	
	<delete id="delete" parameterType="com.winter.app.boards.notice.NoticeDTO">
		DELETE FROM NOTICE WHERE BOARDNUM = #{boardNum}
	</delete>

	<update id="update" parameterType="com.winter.app.boards.notice.NoticeDTO">
		UPDATE NOTICE SET BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents} WHERE BOARDNUM = #{boardNum}
	</update>
	
	<update id="updateHit" parameterType="com.winter.app.boards.notice.NoticeDTO">
    UPDATE NOTICE
    SET BOARDHIT = BOARDHIT + 1
    WHERE BOARDNUM = #{boardNum}
</update>

	<select id="getFileDetail" resultType="com.winter.app.boards.BoardFileDTO" parameterType="com.winter.app.boards.BoardFileDTO">
		SELECT * FROM NOTICEFILES WHERE FILENUM=#{fileNum}
	</select>
	

	<delete id="fileDelete" parameterType="com.winter.app.boards.BoardFileDTO">
		DELETE NOTICEFILES WHERE FILENUM =#{fileNum}
	</delete>

	
	
  	
  </mapper>