<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


	<!-- namespace의값은 다른 mapper의 다른 namespace와 중복 X  -->
	<!-- 사용하는 DAO의 클래스명을 주로 사용 -->
 <mapper namespace="com.winter.app.products.ProductDAO">
 	
 	<!-- DAO의 메서드명을 ID로 사용 -->
 	<select id="getDetail" resultType="com.winter.app.products.ProductDTO" parameterType="com.winter.app.products.ProductDTO">
 		<!-- ResultType => 컬렴명과 DTO의 setter의 이름과 같은 것을 맵핑-->
 		<!-- ?값 #{getter의 이름 , 변수명} -->
 		<!-- map # {map의 키로 꺼낸다}, 배열또는 리스트 #{index번호} -->
 		SELECT * FROM PRODUCTS WHERE PRODUCTNUM = #{productNum} 
 	</select>



	<sql id="search">
									WHERE PRODUCTNUM > 0 AND
									<choose>
										<when test="kind=='k2'">
											PRODUCTDETAIL LIKE '%'||#{search}||'%'
										</when>
										<when test="kind=='k3'">
											PRODUCTNAME LIKE '%'||#{search}||'%'
											OR
											PRODUCTDETAIL LIKE '%'||#{search}||'%'						
										</when>
										<otherwise>
											PRODUCTNAME LIKE '%'||#{search}||'%'
										</otherwise>
									
									</choose>
								
				
				
				
					<!-- 			<if test="kind=='k1'">
								PRODUCTNAME LIKE '%'||#{search}||'%'
								</if>
								<if test="kind=='k2'">
								PRODUCTDETAIL LIKE '%'||#{search}||'%'
								</if>
								<if test="kind=='k3'">
								PRODUCTNAME LIKE '%'||#{search}||'%'
								OR
								PRODUCTDETAIL LIKE '%'||#{search}||'%'								
								</if> -->
	</sql>


 	
 	<select id="getList" resultType="com.winter.app.products.ProductDTO" parameterType="com.winter.app.pages.Pager">
											SELECT * FROM
							(SELECT ROWNUM R, M.* FROM
								(
									SELECT * 
									FROM PRODUCTS
								
								<include refid="search"></include>
								
								ORDER BY PRODUCTNUM DESC
							) M
						)
					WHERE R BETWEEN #{startNum} AND #{endNum}

 	</select>
 	
 	
 	<select id="getTotalCount" parameterType="com.winter.app.pages.Pager" resultType="Long" >
						 	SELECT COUNT(PRODUCTNUM) FROM PRODUCTS
						  	<include refid="search"></include>
 	
 	</select>
 	
 	
 	
 
 	
 	<insert id="add" parameterType="com.winter.app.products.ProductDTO">
 		INSERT INTO PRODUCTS VALUES (NO_SEQ.NEXTVAL,#{productName},#{productRate},#{productDate},#{productDetail})		
 	</insert>
 
 	<delete id="delete" parameterType="com.winter.app.products.ProductDTO">
 		DELETE FROM PRODUCTS WHERE PRODUCTNUM = #{productNum}
 	
 	</delete>
 	
 	<update id="update" parameterType="com.winter.app.products.ProductDTO">
 		UPDATE PRODUCTS SET PRODUCTNAME = #{productName}, PRODUCTRATE = #{productRate}, PRODUCTDATE = #{productDate}, PRODUCTDETAIL = #{productDetail} WHERE PRODUCTNUM = #{productNum}
 	</update>
 	
 	
 
 </mapper> 
   
 
  
  