<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.winter.app.boards.qna.QnaDAO">

	<select id="getDetail" resultType="com.winter.app.boards.qna.QnaDTO" parameterType="com.winter.app.boards.qna.QnaDTO">
	
		SELECT * FROM QNA WHERE BOARDNUM = #{boardNum}
	</select>

	<select id="getList" parameterType="com.winter.app.pages.Pager" resultType="com.winter.app.boards.qna.QnaDTO">
	
	<!--SELECT * FROM QNA ORDER BY BOARDREF DESC ,BOARDSTEP ASC  -->
	
	
							SELECT * FROM
						(SELECT ROWNUM AS R, M.* FROM
							(
								SELECT *
								FROM QNA
								ORDER BY BOARDNUM DESC
							) M
						)
					    WHERE R BETWEEN #{startNum} AND #{endNum}				
	</select>
	
	
	
	 	<select id="getTotalCount" resultType="Long">
 	
 		SELECT COUNT(BOARDNUM)
 		FROM QNA
 	
 		</select>
	
	<insert id="reply" parameterType="com.winter.app.boards.qna.QnaDTO">
		INSERT INTO QNA 
  			(BOARDNUM, BOARDTITLE, BOARDDATE, BOARDCONTENTS, BOARDHIT, USERNAME, BOARDREF, BOARDSTEP, BOARDDEPTH)
  			VALUES
  			(NOTICE_SEQ.NEXTVAL, #{boardTitle}, sysdate, #{boardContents}, 0, #{userName}, 
  			(SELECT BOARDREF FROM QNA BOARDNUM=#{boardNum}),
  			(SELECT BOARDSTEP+1 FROM QNA BOARDNUM=#{boardNum}),
  			(SELECT BOARDDEPTH+1 FROM QNA BOARDNUM=#{boardNum)})	
		
	</insert>
	
	<update id="updateStep" parameterType="com.winter.app.boards.qna.QnaDTO">
		<!-- 부모의 글 번호 -->
		UPDATE QNA SET BOARDSTEP=BOARDSTEP+1 WHERE BOARDREF =(SELECT BOARDREF FROM QNA WHERE BOARDNUM=#{boardNum})
		 AND
		 BOARDSTEP>(SELECT BOARDSTEP FROM QNA WHERE BOARDNUM=#{boardNum})
	
	</update>
	
	
	
	
	
	
	
	<insert id="add" parameterType="com.winter.app.boards.qna.QnaDTO">
		INSERT INTO QNA(BOARDNUM,BOARDTITLE,BOARDDATE,BOARDCONTENTS,BOARDHIT,USERNAME,BOARDREF,BOARDSTEP,BOARDDEPTH)
		VALUES (NOTICE_SEQ.NEXTVAL,#{boardTitle},SYSDATE,#{boardContents},0,'FFF',NOTICE_SEQ.CURRVAL,0,0)
	</insert>
	
	<delete id="delete" parameterType="com.winter.app.boards.qna.QnaDTO">
		DELETE FROM QNA WHERE BOARDNUM = #{boardNum}
	</delete>

	<update id="update" parameterType="com.winter.app.boards.qna.QnaDTO">
		UPDATE QNA SET BOARDTITLE = #{boardTitle}, BOARDCONTENTS = #{boardContents} WHERE BOARDNUM = #{boardNum}
	</update>
	
	<update id="updateHit" parameterType="com.winter.app.boards.qna.QnaDTO">
    UPDATE QNA
    SET BOARDHIT = BOARDHIT + 1
    WHERE BOARDNUM = #{boardNum}
</update>

	
  	
  </mapper>