<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.winter.app.users.UserDAO">
  
  
  <!-- 파일 저장 -->
	<insert id="upload" parameterType="com.winter.app.users.UserFileDTO">
	INSERT INTO PROFILE
  		VALUES(#{userName},#{fileName},#{oldName})
	</insert>  
  
  
  
  
  <insert id="join" parameterType="com.winter.app.users.UserDTO">
  	INSERT INTO USERS VALUES(#{userName},#{passWord},#{name},#{phone},#{email})
  </insert>
  
	
	
	
	<select id="getDetail" resultMap="getDetailResult" parameterType="com.winter.app.users.UserDTO">
	
					SELECT *
						FROM USERS U
							LEFT OUTER JOIN
							PROFILE P
							ON U.USERNAME = P.USERNAME
						WHERE U.USERNAME =#{userName}
						
		
	</select>
	
	<resultMap type="com.winter.app.users.UserDTO" id="getDetailResult">
	<!-- PK colum:컬럼명, property : setter의 이름-->
	<id column="USERNAME" property="userName"/>
	
	<!-- 그 외 나머지 colum:컬럼명, property : setter의 이름-->
	<result column="PASSWORD" property="passWord"/>
	<result column="NAME" property="name"/>
	<result column="PHONE" property="phone"/>
	<result column="EMAIL" property="email"/>
	
	<!-- 1 : 1 property = "setter의 이름" javaType = "datatype" -->
	<association property="userFileDTO" javaType="com.winter.app.users.UserFileDTO">
		<result column="FILENAME" property="fileName"/>
		<result column="OLDNAME" property="oldName"/>
	
	</association>
	
	
	
	
	</resultMap>
	
		<insert id="addCart" parameterType="java.util.Map">
  		INSERT INTO CARTS (USERNAME, PRODUCTNUM)
  		VALUES (#{user.userName}, #{product.productNum})
  	</insert>
  	
  	<select id="getCartTotalCount" parameterType="com.winter.app.users.UserDTO" resultType="Long">
  		SELECT COUNT(USERNAME) FROM CARTS
  		WHERE USERNAME=#{userName}
  	</select>
  	
  	<select id="getCartList" parameterType="java.util.Map" resultType="com.winter.app.products.ProductDTO">
  		SELECT * FROM
  		(
  			SELECT ROWNUM R,C.*
	  		FROM (
	  				SELECT PRODUCTNUM, PRODUCTNAME,PRODUCTRATE, PRODUCTDATE 
	  				FROM PRODUCTS
	  				WHERE PRODUCTNUM
	  				  In (SELECT PRODUCTNUM FROM CARTS WHERE USERNAME=#{user.userName})
	  				ORDER BY PRODUCTNUM DESC
	  			 )C
  		)
  		WHERE R BETWEEN #{pager.startNum} AND #{pager.endNum}
<!--   		
		SELECT PRODUCTNUM, PRODUCTNAME,PRODUCTRATE, PRODUCTDATE
  		FROM CARTS C
  			 NATURAL JOIN
  			 PRODUCTS P
  		WHERE USERNAME=#{userName}
 --> 
  		
  	</select>
  	
  	
  	<delete id="cartDelete" parameterType="java.util.Map">
  		DELETE CARTS
  		WHERE
  			USERNAME = #{user.userName}
  			AND
  			PRODUCTNUM IN
  				<foreach item="item" collection="products" open="(" separator="," close=")">
  				
  				
  					#{item}
  				</foreach>
  	
  	</delete>
  	
  	
  	
	
	
	
	
	
  	
  </mapper>